*, *::after, *::before {
	box-sizing: border-box;
  }

:root{
	--c1:#462521;
	--c2:#8A6552;
	--c3:#FFE0B5;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	background-color: var(--c1);
	height: 110px;
}

.header img {
	width: 100px;
	border: 5px groove var(--c2);
	border-width: 5px;
}

.header p {
	font-size: 34px;
	border: 5px groove var(--c2);
	padding: 2px;
	color: var(--c3);
}

.header p:hover, img:hover {
	background-color: var(--c3);
	color: var(--c1);
	cursor: pointer;
	border: 5px groove var(--c2);
}