*, *::after, *::before {
	box-sizing: border-box;
  }

:root{
	--c1:#462521;
	--c2:#8A6552;
	--c3:#FFE0B5;
}

.post-list {
	display: flex;
	flex-direction: initial;
	justify-content: center;
	font-size: 18px;
	color: var(--c1);
	
}

.post-list div {
	border: 5px groove var(--c3);
	margin: 5px;
	padding: 5px;
}

.post-list div:hover {
	background-color: var(--c3);
	color: var(--c1);
	cursor: pointer;
}