*, *::after, *::before {
	box-sizing: border-box;
  }

:root{
	--c1:#462521;
	--c2:#8A6552;
	--c3:#FFE0B5;
}

.user-add-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    border: 10px groove var(--c3);
    margin-top: 30px;
    padding: 5px;
}

.user-add-form h2 {
    text-align: center;
    color: var(--c3);
    font-size: 22px;
}

.user-add-form label {
    font-size: 15px;
    color: var(--c3);
    margin-left: 150px;
}

.user-add-form input,
.submit
{
    padding: 3px;
    margin-top: 5px;
    margin-left: 150px;
    width: 500px;
    border-radius: 5px;
    background-color: var(--c1);
    color: var(--c3);
    font-size: 20px;
    cursor: pointer;
}

.user-add-form input:hover{
    background-color: var(--c3);
    color: var(--c1);
}

.goldClient{
    justify-content: flex-start;
}

.checkbox {
    display: inline-block;
}